<!DOCTYPE html>
<html lang="en">
<!-- Head Tag -->
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="grid-container">
      <div class="item1">
        <a href="/" class="headerButton">New Dover: The Young Bloods</a>
        <h2>A By Night Studios Troupe Game</h2>
        <h3>...</h3>
      </div>
      <div class="item2">
        <a href="/" class="buttonBox">Home</a><br>
        <a href="https://vamp.bynightstudios.com/" class="buttonBox">Vamp BNS SRD</a><br>
        <a href="https://bynightstudios.com/legacy-eratta/" class="buttonBox">Official Errata</a><br>
        <a href ="{{ url_for('docs_page',page_type='setting') }}" class="buttonBox">Setting Document</a><br>
        <a href ="{{ url_for('docs_page',page_type='houserules') }}" class="buttonBox">House Rules</a><br>
        <a href="/schedule.html" class="buttonBox">Schedule</a><br>
        <a href="https://discord.gg/Ye5Wgcjyh3" class="buttonBox">Join Our <img src="{{ url_for('static',filename='imgs/discordlogo.png') }}" class="logo_discord"></a><br>
        <div class="spacerBox"></div>

      </div>
      <div class="item3">
        {% block content %}{% endblock %}
      </div>  
      <div class="item4">
        <div class="contentBox">
          <div class="spacerBox"></div>
          <h3>Game Site:</h3>
          <h5>
              William R. Talley<br> 
              Recreation Center
          </h5>
          <h5>
              121 N Bentz St.<br>
              Frederick, MD<br>
              21701
            </h5>
          <a href="https://www.google.com/maps/place/121+N+Bentz+St,+Frederick,+MD+21701/@39.4166177,-77.4171637,17z/data=!3m1!4b1!4m6!3m5!1s0x89c9da57a757b4b3:0x2869283f8e3ba79b!8m2!3d39.4166177!4d-77.4145834!16s%2Fg%2F11bw3z9z3x?entry=ttu">Map It!</a>
          <div class="spacerBox"></div>
        </div>
      </div>
      <div class="item5">
        <div class="contentBox">
            <h6>
                Website designed by <a href="https://www.arcanematrix.com">Arcane Matrix</a><br><br>
                <a href="https://www.paradoxinteractive.com/games/world-of-darkness/about">
                  Portions of the materials are the copyrights and trademarks of Paradox Interactive, and are<br> 
                  used with permission. All rights reserved. For more information please visit Paradox Interactive.
                </a>
            </h6>
        </div>
      </div>
    </div>
</body>
</html>
