{% extends "base.html" %}

{% block content %}
    <div class="innerContentBox">
    <h4>
        <p>
            Welcome to New Dover!
        </p>
        <p>
            In this ficitional city, Vampires lurk the night! Join their stories as they seek blood and power!
        </p>
        <div class="spacerBox"></div>
    </h4>
    </div>
    <div class="innerContentBox">
        <h2>Announcements</h2>
        <h4>
            <ul>
                <li>
                    <u>08/27/2024:</u> Game will be Saturday 8/31 from 1pm - 5pm<br>
                    <p>The William R. Talley Recreation Center is located on the corner of Bentz Street and 
                        Second Street in Baker Park at:</p>
                    121 N Bentz Street<br>
                    Frederick, MD 21701<br>
                    <br>
                    We will be meeting in the big activity room upstairs. Prior to game we will likely be meeting in the park immediately next to it for hangouts and last-minute character creation stuffs.
                </li>
                <br>
                <li>
                    <u>08/11/2024:</u> Site fee will be $5 for the first game!
                </li>
                <br>
                <li>
                    <u>07/31/2024:</u>
                Based on the results of the players' vote, a genre has been chosen: Anarchs!<br>
                Check out the Anarch area of the <a href ="{{ url_for('docs_page',page_type='setting') }}">Setting Document</a> for more details!</li>
            </ul>
        </h4>
        </div>
{% endblock %}