{% extends "base.html" %}

{% block content %}
    <div class="spacerBox"></div>
    <h4>
        <p>
            Welcome to New Dover!
        </p>
        <div class="spacerBox"></div>
        <p>
            In this ficitional city, Vampires lurk the night! Join their stories as they seek blood and power!
        </p>
        <div class="spacerBox"></div>
        <p>
            As this game is young, we are still getting everything established. But you can be part of that!
            Currently we are deciding if we want to be Camarilla, Sabbat, or Anarch. These genres are a bit
            differently defined in By Night Studios so definitely check them out! Then, cast your vote for which
            genre New Dover will play:<br>
            <br>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdVxo1_nqa-O6C2yi_7K0jIBOk4DTeEPZvUB_gPTFtI9IPRhA/viewform?usp=sf_link">Help Pick Our Genre!</a>
        </p>
    </h4>
{% endblock %}