{% extends "base.html" %}

{% block content %}
    <div class="innerContentBox">
    <h4>
        <p>
            Welcome to New Dover!
        </p>
        <p>
            In this ficitional city, Vampires lurk the night! Join their stories as they seek blood and power!
        </p>
        <div class="spacerBox"></div>
    </h4>
    </div>
    <div class="innerContentBox">
        <h2>Announcements</h2>
        <h4>
            <p>
                Based on the results of the players' vote, a genre has been chosen: Anarchs!
            </p>
            <p>
                Check out the Anarch area of the <a href ="{{ url_for('docs_page',page_type='setting') }}">Setting Document</a> for more details!
            </p>
        </h4>
        </div>
{% endblock %}